.DS_Store
/MarkLogic/services/src/main/webapp/xqDoc/build
/MarkLogic/services/src/main/webapp/xqDoc/node_modules
/MarkLogic/services/src/main/webapp/xqDoc/package-lock.json
/MarkLogic/xqrs/src/main/webapp/xqDoc/package-lock.json
/MarkLogic/xqrs/src/main/webapp/xqDoc/build
/MarkLogic/xqrs/src/main/webapp/xqDoc/node_modules
/MarkLogic/services/src/main/ml-modules/root/xqDoc
/MarkLogic/services/.gradle
/MarkLogic/xqrs/src/main/ml-modules/root/xqDoc
/MarkLogic/xqrs/.gradle
/eXist-db/src/main/polymer/node_modules
/eXist-db/build
